body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ffb6e6, #cbb4ff);
  text-align: center;
  padding: 20px;
}

h1 {
  color: #4b0055;
}

.fruits img {
  width: 80px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.fruits img:hover {
  transform: scale(1.1);
}

.zone-verre {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

#verre {
  position: relative;
  width: 220px;
  height: 350px;
}

#verre-img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
   pointer-events: none;
}

/* ZONE INTERIEURE DU VERRE */
#contenu-verre {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 180px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2px;
  z-index: 3; /* au-dessus du verre */
  pointer-events: none;
  overflow: hidden; /* empêche les fruits de dépasser du verre */
  border-radius: 70px 70px 20px 20px; /* optionnel pour arrondir comme le verre */
}

.fruit-verre {
  width: 45px;
  animation: tomber 0.6s ease-out;
  object-fit: contain; /* pour garder les proportions */
}

@keyframes tomber {
  from {
    transform: translateY(-120px) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.actions button {
  margin: 10px;
  padding: 12px 20px;
  border-radius: 25px;
  border: none;
  background: #ff4fd8;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.actions button:hover {
  background: #e600b8;
}

#recette {
  margin-top: 20px;
  background: white;
  padding: 15px;
  border-radius: 15px;
  display: inline-block;
  min-width: 250px;
}

.compteur {
  margin-top: 30px;
}

